<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../common/head'); -%>
</head>
<body class="container">

<header>
    <%- include ('../common/headerLogout'); -%>
</header>

<main>
    <div class="jumbotron" style="margin-top: 5%;">
        <h1>Jesteś zalogowany</h1>
        <p>
            <% index.forEach(function(index) { %>)
            <%= index.username %> </br>
            <% }); %>
        </p>
    </div>
</main>

<footer>
    <%- include ('../common/footer'); -%>
</footer>

</body>
</html>

