<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Logowanie postgress</title>

<!-- CSS (load bootstrap from a CDN) -->

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.js"></script>

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    body    { padding-top:50px; }
</style>